.DS_Store
*.log
jetstream/
.env
.env.local
.env.*
.env.example
.venv/
node_modules/
frontend/node_modules/
.next/
frontend/.next/
uploads/
backend/*.exe
backend/matchmaker
edge_agent/target/
CODEBASE_DOCUMENTATION.pdf
*.egg-info/
tenxo/build/
tenxo/dist/
__pycache__/
*.pyc
control-server/
templates/
frontend/out/
edge_agent/Cargo.lock
internal_docs/
docs/